src/assets/styles/HomePage.css

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.navbar-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.brand-name {
  text-align: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
}

.account-icon {
  font-size: 24px;
  color: #000;
  cursor: pointer;
}
